<h2>Dragon Builder</h2><%
  if @dragon_id != nil
    dragon_race = @dragon_id[:dragon_race] if @dragon_id[:dragon_race] != nil
    dragon_age = @dragon_id[:dragon_age] if @dragon_id[:dragon_age] != nil
  end
%>
<%= form_tag({:action => :index}, :method => :get) do -%>
ドラゴンの種類：<%#= select_tag :dragon_race, options_for_select(
  {"グリーン" => 1, "ブラック" => 2, "ブルー" => 3, "ホワイト" => 4, "レッド" => 5,
  "カッパー" => 6, "ゴールド" => 7, "シルヴァー" => 8, "ブラス" => 9, "ブロンズ" => 10},
  dragon_race) %><%#= select_tag :dragon_race, options_for_select(
  {"グリーン" => 1, "ブラック" => 2, "ブルー" => 3, "ホワイト" => 4, "レッド" => 5,
  "カッパー" => 6, "シルヴァー" => 8},
  dragon_race) %><%= select_tag :dragon_race, options_for_select(
  {"グリーン" => 1, "ブラック" => 2, "ブルー" => 3, "ホワイト" => 4, "レッド" => 5}, dragon_race) %>
<br />
ドラゴンの年齢段階：<%= select_tag :dragon_age, options_for_select(
  {"1 ワームリング" => 1, "2 ヴェリー・ヤング" => 2, "3 ヤング" => 3, "4 ジュヴナイル" => 4, "5 ヤング・アダルト" => 5,
  "6 アダルト" => 6, "7 マチュア・アダルト" => 7, "8 オールド" => 8, "9 ヴェリー・オールド" => 9, "10 エンシャント" => 10,
  "11 ワーム" => 11, "12 グレート・ワーム" => 12},
  dragon_age) %>
<br />
  <%= submit_tag "生成", {:disable_with => "生成中"} %>
<% end %>
<% if @dragon != nil %>
<div style="background-color:rgb(207, 226, 243);width:100%;font-variant:small-caps;margin-top:6px;margin-bottom:6px">
  <table width="100%">
    <tbody>
      <tr>
        <td aligin="left" style="width:85%;font-variant:small-caps"><b><%= @dragon["dragon_age_name"] %>・<%= @dragon["dragon_race_name"] %>・ドラゴン</b></td>
        <td align="right" style="font-variant:small-caps"><b>CR <%= @dragon["cr"] %></b></td>
      </tr>
    </tbody>
  </table>
  <tbody>
</div>
<p>
  <b>XP <%= number_to_currency(@dragon["xp"], :separator => ".", :delimiter => ",", :format => "%n", :precision => 0) %></b><br />
  <b><%= @dragon["alignment"] %></b>/<%= @dragon["size"] %>サイズの<%= @dragon["types"] %>(<%= @dragon["subtypes"] %>)<br />
  <b>イニシアチブ</b> <%= @dragon["init"] %>; <b>感覚</b> <%= @dragon["sense"] %><br />
  <% if @dragon["aura"] != "" %>
  <b>オーラ</b> <%= @dragon["aura"] %>
  <% end %>
</p>
<div style="border-top:1px solid rgb(0, 0, 0);border-bottom:1px solid rgb(0, 0, 0);margin-top:6px;margin-bottom:6px;width:100%"><b>防御</b></div>
<p>
  <b>AC</b> <%= @dragon["ac"] %>, 接触 <%= @dragon["touch"] %>, 立ちすくみ <%= @dragon["flat_footed"] %> <%= @dragon["defence_describe"] %><br />
  <b>hp</b> <%= @dragon["hp"] %> (<%= @dragon["hit_dice_count"] %>d<%= @dragon["hit_dice_number"] %><%= @dragon["hp_con_modifer"] %>)<br />
  <b>頑健</b> <%= @dragon["fort"] %>, <b>反応</b> <%= @dragon["ref"] %>, <b>意志</b> <%= @dragon["will"] %><br />
  <% if @dragon["defensive_ability"] != ""
  %><b>防御的能力</b> <%= @dragon["defensive_ability"] %><%
  end
  if @dragon["dr"] != ""
  %>; <b>DR</b> <%= @dragon["dr"] %>; <%
  end %><b>完全耐性</b> <%= @dragon["immune"] %><%
  if @dragon["sr"] > 0
  %>; <b>SR</b> <%= @dragon["sr"] %>
  <% end
if @dragon["weakness"] != ""
%><br />
<b>弱点</b> <%= @dragon["weakness"] %><%
end %>
</p>
<div style="border-top:1px solid rgb(0, 0, 0);border-bottom:1px solid rgb(0, 0, 0);margin-top:6px;margin-bottom:6px;width:100%"><b>攻撃</b></div>
<p>
  <b>移動速度</b> <%= @dragon["speed"] %><br />
  <b>近接</b>  <%= @dragon["melee"] %><br />
  <b>接敵面</b> <%= @dragon["space"] %>; <b>間合い</b> <%= @dragon["reach"] %> (噛みつきの間合い <%= @dragon["bite_reach"] %>)<br />
  <b>特殊攻撃</b> <%= @dragon["special_attack"] %><br />
  <% if @dragon["spell_like_ability"] != "" %>
  <b>擬似呪文能力</b> (CL <%= @dragon["spell_like_ability_cl"] %>, 精神集中 +<%= @dragon["spell_like_ability_concentration"] %>)
  <% end %>
</p>
<% if @dragon["spell_like_ability"] != "" %>
<p style="margin-left:20px">
回数無制限：<i><%= @dragon["spell_like_ability"] %></i>
</p>
<% end %>
<% if @dragon["spell_caster_level"] > 0 %>
<p><span style="font-size:medium"><b>修得呪文</b> (<%= @dragon["spell_caster_source"] %> CL <%= @dragon["spell_caster_level"] %>, 精神集中 +<%= @dragon["spell_caster_concentration"] %>)</span></p>
<% end %>
<div style="border-top:1px solid rgb(0, 0, 0);border-bottom:1px solid rgb(0, 0, 0);margin-top:6px;margin-bottom:6px;width:100%"><b>一般データ</b></div>
<p>
<b>【筋】</b> <%= @dragon["str"] %>, <b>【敏】</b> <%= @dragon["dex"] %>, <b>【耐】</b> <%= @dragon["con"] %>, <b>【知】</b> <%= @dragon["int"] %>, <b>【判】</b> <%= @dragon["wis"] %>, <b>【魅】</b> <%= @dragon["chr"] %><br />
<b>基本攻撃</b> <%= @dragon["base_attack"] %>; <b>CMB</b> <%= @dragon["cmb"] %>; <b>CMD</b> <%= @dragon["cmd"] %><br />
<b>特技数</b> <%= @dragon["feet_count"] %><br />
<b>ヒット・ダイス毎のランク数</b> <%= @dragon["skill_per_rank"] %>; <b>総ランク数</b> <%= @dragon["skill_sum_rank"] %><%
if @dragon["racial_modifer"] != ""
%>; <b>種族修正</b> <%= @dragon["racial_modifer"] %><br /><%
else
%><br />
<% end %>
<b>言語</b> <%= @dragon["language"] %>; <b>追加言語数</b> <%= @dragon["language_count"] %><br />
<% if @dragon["sq"] != "" %>
<b>その他の特殊能力</b> <%= @dragon["sq"] %>
<% end %>
</p>
<div style="border-top:1px solid rgb(0, 0, 0);border-bottom:1px solid rgb(0, 0, 0);margin-top:6px;margin-bottom:6px;width:100%"><b>生態</b></div>
<b>出現環境</b> <%= @dragon["environment"] %><br />
<b>編成</b> <%= @dragon["organization"] %><br />
<b>宝物</b> <%= @dragon["treasure"] %>
<% end %>
