<!DOCTYPE html>
<html>
<head>
  <title>PathfinderWorld</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25687078-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <%#= render(:partial => "shared/google_analytics") if RAILS.ENV == 'production' -%>
</head>
<body>

<%= yield %>

<p>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-7839049127893556";
/* Railsサイト用 */
google_ad_slot = "5308489598";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</p>
<%#= render(:partial => "shared/google_adsenses") if RAILS.ENV == 'production' -%>
<p><%= "Copyright ©#{Time.now.year} dvamp All rights reserved." %></p>
</body>
</html>
